<section class="background-image" style="background-image: url('/assets/Images/App-Waitlist.jpeg');">
    <div>
        <header class="header">
            <h1>MedRx Pharmacy App</h1>
            <h2>Coming Soon!</h2>
            <h2>Join our Waitlist Today</h2>
        </header>

        <section class="main-section">
            <div class="form-container">
                <input type="text" class="text-field" placeholder="Enter your Pharmacy Name">
                <input type="text" class="text-field" placeholder="Enter your Email/Phone Number">
                <button class="join-button">Join Now</button>
            </div>
        </section>
    </div>
</section>
