<div class="graph">
  <!-- Rectangle 88 -->
  <div class="rectangle88"></div>

  <!-- Group 6 -->
  <div class="graphi">
    <div class="arrow">
      <i class="fa-solid fa-arrow-right"></i>
    </div>
    <div class="gra">
      <i class="fa-solid fa-signal"></i>
    </div>
  </div>

  <!-- Frame 870 -->
  <div class="frame870">
    <!-- +25% -->
    <span class="percent">+25%</span>
  </div>
</div>
<div class="decor01">
  <!-- Ellipse 1 with an open end and no color at the center -->
  <div class="ellipse1">
    <!-- +21% -->
    <span class="percentage">+21%</span>
  </div>

  <!-- Progress in sales this month -->
  <div class="progress-text">
    Progress in sales<br>this month
  </div>
</div>

<div class="decor02">
  <!-- Call Icon -->
  <div class="call-icon">
    <!-- Phone Receiver -->
    <i class="fa-solid fa-phone-volume"></i>

    <!-- Waves -->
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
  </div>

  <!-- Frame with "Calling" text -->
  <div class="frame880">
    <span class="calling-text">Calling</span>
  </div>
</div>
<div class="decor03">
  <!-- Frame 871 for New Clients -->
  <div class="frame871">
    <span class="new-clients">New clients</span>
    <div class="group8">
      <div class="rectangle95"></div>
    </div>
    <span class="percentages">+120 <span class="brackets">(15%)</span></span>
  </div>

  <!-- Frame 872 for Returning -->
  <div class="frame872">
    <span class="returning">Returning</span>
    <div class="group8">
      <div class="rectangle96"></div>
    </div>
    <span class="returning-percents">+120 <span class="brackets">(15%)</span></span>
  </div>
</div>

<div class="decor04">
  <div class="frame949">
    <div class="bag2">
      <i class="fa-solid fa-bag-shopping"></i>
    </div>
    <span class="new-order">New order</span>
  </div>
  <div class="avatar">
    <img src="assets\Images\poc.jpeg" alt="avatar-image" class="ellipse9" />
    <div class="ellipse13"></div>
  </div>
</div>
