.signin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(193, 233, 193);
  width: 280px;
  /* margin: 0 auto; */
  height: 300px;
  border-radius: 10px;
}

.form-label {
  margin-top: 20px;
  font-weight: bold;
  color: green;
  margin-bottom: -0px;
}

.password-label {
  margin-top: 0px;
  font-weight: bold;
  color: green;
}



label {
  justify-content: space-around;
  display: block;
  font-weight: bold;
  font-size: 18px;
  margin-top: 2px;

}

.input-field {
  border: 1px solid rgb(193, 233, 193);
  align-items: center;
  background-color: white;
  width: 240px;
  height: 40px;
  padding: 20px;
  margin-top: 5px;
}

.black-icon {
  color: green;
}


button {
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgb(193, 233, 193);
  /* margin-left: 15px; */
  margin-top: -5px;
  background: green;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 90px;
}

.reset-password {
  display: flex; /* Use flex to center the link */
  justify-content: center; /* Horizontally center the link */
  align-items: center; /* Vertically center the link */
  margin-top: 10px;
}

.reset-password a {
  text-decoration: underline;
  font-size: 16px;
  color: green; /* Change the link color to green */
  cursor: pointer;
}


.signup-text {
  margin-top: 0px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(111, 110, 110);
}

.signup-text a {
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
  font-style: italic;
  color: green;
}

@media (max-width: 768px) {
  .signin-container {
    width: 300px;
  }
  .signup-text {
    margin-left: -35px;
  }
  form {
    width: 90%;
  }
}
