.signin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 280px;
  /* margin: 0 auto; */
  height: 300px;
  border-radius: 10px;
  border: 1px solid grey;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  /* Place the overlay on top */
}

.form-label {
  margin-top: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: -0px;
}

.password-label {
  margin-top: -15px;
  font-weight: bold;
  color: black;
}



label {
  justify-content: space-around;
  display: block;
  font-weight: bold;
  font-size: 18px;
  margin-top: 2px;

}

.input-field {
  border: 1px solid grey;
  align-items: center;
  background-color: white;
  width: 240px;
  height: 40px;
  padding: 20px;
  margin-top: 5px;
}

.black-icon {
  color: black;
}


button {
  align-items: center;
  border-radius: 5px;
  border: 1px solid grey;
  /* margin-left: 15px; */
  margin-top: -5px;
  background: rgb(110, 204, 110);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 90px;
}

.reset-password {
  display: flex; /* Use flex to center the link */
  justify-content: center; /* Horizontally center the link */
  align-items: center; /* Vertically center the link */
  margin-top: 10px;
}

.reset-password a {
  text-decoration: underline;
  font-size: 16px;
  color: rgb(110, 204, 110); /* Change the link color to green */
  cursor: pointer;
}


.signup-text {
  margin-top: 0px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(111, 110, 110);
}

.signup-text a {
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
  font-style: italic;
  color: rgb(110, 204, 110);
}

@media (max-width: 768px) {
  .signin-container {
    width: 270px;
  }
  .signup-text {
    margin-left: 0px;
  }
  form {
    width: 90%;
  }
}
