<div class="signin-container" [ngClass]="{ 'hidden': !showSignInPage }">
  <form (ngSubmit)="onSubmit()">
    <label for="username" class="form-label">Username</label>
    <div class="input-field">
      <span class="fa-solid fa-user p-1 black-icon"></span>
      <input type="text" id="username" name="username" [(ngModel)]="username">
    </div>
    <br>
    <label for="password" class="password-label">Password</label>
    <div class="input-field">
      <span class="fa-solid fa-lock p-1 black-icon"></span>
      <input [type]="type" id="password" name="password" [(ngModel)]="password">
      <span (click)="hideShowPass()" class="fa-solid {{eyeIcon}} p-1 black-icon"></span>
    </div>
    <br>
    <button type="submit">sign in</button>
  </form>
  <ul class="Reset-password!"><a routerLink="/reset-password-page">Reset Password!</a></ul>
  <p class="signup-text">Not a member? <a  href="javascript:void(0);" (click)="openSignUpModal()">Sign up today!</a></p>

</div>

<!-- Sign-up modal overlay -->
<div class="overlay" *ngIf="showSignUpModal">
  <app-sign-up-page (closeSignUp)="closeSignUpModal()"></app-sign-up-page>
</div>
