<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="features.component.css">
  <title>Features</title>
</head>

<body>
    <div class="header">
        <div class="header-text">
        <h1> OUR FEATURES</h1>
        <h2>Optimize Your Pharmacy Operations</h2>
        <p>Leverage our state-of-the-art tools to streamline your pahrmacy's inventory, <br> sales,financial and operational management.</p>
        </div>
    </div>

    <div class="triangle1">
        <div class="triangle"></div>
    </div>

    <div class="triangle2">
        <div class="triangle"></div>
    </div>

    <div class="features-container">
        
        <div class="first">
            <div class="inventory">
                <img src="assets/Images/inventory.png" alt="Inventory" />
                <h1>Inventory Management</h1>
                <p>Products <br> Purchase <br>Supplier <br> Stores </p>
            </div>

            <div class="financial">
                <img src="assets/Images/financial.png" alt="Financial" />
                <h1>Financial Management</h1>
                <p>Sales Report <br> Expenses <br> Profit</p>
            </div>
        </div>

        <div class="second">
            <div class="sales">
                <img src="assets/Images/sales.png" alt="Sales" />
                <h1>Sales & transactions</h1>
                <p>POS <br> Sale History </p>
            </div>

            <div class="operational">
                <img src="assets/Images/operational.png" alt="Operational" />
                <h1>Operational Management</h1>
                <p>Employees <br> Activity <br> Customers</p>
            </div>
        </div>

    </div>

    <div class="triangle3">
        <div class="triangle"></div>
    </div>

    <div class="triangle4">
        <div class="triangle"></div>
    </div>

</body>
<app-homefooter></app-homefooter>