<div class="features-benefits">
    <div class="features">
        <h1>Features</h1>
        <ul>
            <li>A comprehensive database of medicines and their prices from various pharmacies and suppliers</li>
            <li>Advanced search filters to help users find specific  medicines quickly and easily</li>
            <li>Real-time inventory management for pharmacies snd suppliers to ensure accurate availability of medicines</li>
            <li>Automated order processing and tracking to streamline the supply chain process</li>
            <li>Secure payment gateway for hassle-free transactions between pharmacies and suppliers</li>
        </ul>
    </div>
    <div class="Benefits">
        <h1>Benefits</h1>
        <ul>
            <li>Efficient and covenient access to a wide range of medicines</li>
            <li>Transparent and competitive pricing for medicine purchases</li>
            <li>Streamlined ordering process for pharmacies and suppliers</li>
            <li>Improved supply chain management for pharmacies and suppliers</li>
            <li>Access to a large network of suppliers and pharmacies for better business opportunities</li>
        </ul>
    </div>
</div>
