* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f9fc;
  font-family: 'Poppins', sans-serif;
}

.contact-container {
  max-width: 1200px;
  width: 100%;
  background-color: #fff;
  margin: 50px auto;
  padding: 30px;
  display: flex;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.contact-text {
  flex: 1;
  padding-right: 30px;
}

.contact-text h1 {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 10px;
}

.contact-text hr {
  width: 50px;
  border: 2px solid #00c853;
  margin-bottom: 20px;
}

.contact-text p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.contact-text address {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

.contact-text address a {
  color: #00c853;
  text-decoration: none;
}

.contact-form {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-field {
  width: calc(100% - 20px);
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.form-group input.input-field {
  width: calc(50% - 10px);
  margin-right: 10px;
}

.form-group input.input-field:last-child {
  margin-right: 0;
}

.textarea-field {
  height: 100px;
  padding: 10px;
}

.btn {
  background-color: #00c853;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  width: fit-content;
  align-self: flex-end;
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-text, .contact-form {
    width: 100%;
    padding: 0;
  }

  .contact-form {
    margin-top: 30px;
  }

  .form-group input.input-field {
    width: calc(100% - 20px);
    margin-right: 0;
  }
}
