.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(47, 197, 47);
  width: 70%;
  margin: 0 auto;
  height: 360px;
  margin-top: -130px;
  z-index: 9999;
  position: relative;
}
.close-button {
  color: red;
  position: absolute;
  top: -10px;
  right: 15px;
  transform: translate(50%, -50%);
  transform-origin: top right;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 22px;
  z-index: 2;

}

h1 {
  align-items: center;
  font-size: 30px;
  font-weight: 500px;
}

.highlight {
  color: purple;
  font-weight: bold;
}

h2 {
  align-items: center;
  font-size: 15px;
  font-weight: 390px;
}

label {
  font-weight: bold;
}

p {
  font-weight: bold;
  margin-bottom: 2px;
}

.email-label input {
  display: flex;
  width: 656px;
  height: 40px;
}

.phone-label input{
  width: 70%;
  height: 28px;
}

button {
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(145, 140, 140);
  margin-left: 170px;
  margin-top: 25px;
  background: rgb(145, 140, 140);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 90px;
  cursor: pointer;
}

.error-red{
  color: red;

}

