<div class="container">
  <form class="form" #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
    <h2>Sign Up</h2>
    <div class="form-group">
      <label for="signup-email">Email:</label>
      <input type="email" id="signup-email" name="email" required [(ngModel)]="email">
    </div>
    <div class="form-group">
      <label for="signup-password">Password:</label>
      <input type="password" id="signup-password" name="password" required [(ngModel)]="password">
    </div>
    <div class="form-group">
      <button type="submit">Sign Up</button>
    </div>
    <div class="form-group switch-form">
      <span>Already have an account? </span><a routerLink="/signin" routerLinkActive="active-link">Sign In</a>
    </div>
  </form>
</div>
