.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(47, 197, 47);
  width: 55%;
  margin: 0 auto;
  z-index: 9999;
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 360px;
  max-height: 80vh;
  z-index: 1000;
}

.signup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.close-button {
  color: red;
  position: absolute;
  top: -10px;
  right: 15px;
  transform: translate(50%, -50%);
  transform-origin: top right;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 22px;
  z-index: 4;

}

h1 {
  align-items: center;
  font-size: 30px;
  font-weight: 500px;
}

.highlight {
  color: purple;
  font-weight: bold;
}

h2 {
  align-items: center;
  font-size: 15px;
  font-weight: 390px;
}

label {
  font-weight: bold;
}

p {
  font-weight: bold;
  margin-bottom: 2px;
}

.email-label input {
  display: flex;
  width: 450px;
  height: 40px;
  border-radius: 10px;
}

.phone-label {
  margin-top: 20px;
}
.phone-label input{
  width: 55%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid white;
  margin-left: 10px;
}

button {
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(145, 140, 140);
  margin-left: 110px;
  margin-top: 25px;
  background: rgb(145, 140, 140);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 90px;
  cursor: pointer;

}


@media (max-width: 768px) {
  .signup-container{
    width: 75%;
    top: 40%;
    left: 42%;
    transform: translate(-50%, -50%);
  }

  h1 {
    margin-left: 40px;
    font-size: 30px;
  }

  .email-label {
    margin-left: 30px;
  }

  .email-label input {
    width: 245px;
  }

  p {
    margin-left: 30px;
  }

  .phone-label {
    margin-left: 30px;
  }

  .phone-label input {
    width: 180px;
  }

  .close-button{
    top: -2px;
  }

  button {
    margin-left: 60px;
    align-items: center;
    margin-top: 15px;
    padding: 4px 45px;
  }
}
