<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="pricing.component.css">
  <title>Pricing</title>
</head>

<body>
  <div class="header">
        <div class="header-text">
            <h1>Plans & Pricing</h1>
            <p>Choose the perfect plan for your Pharmacy, the flexible plan to meet your needs.</p>
        </div>
  </div>
  <div class="pricing-container">
        <div class="free-tier">
            <div class="tier-head">
                <h2>FREE TIER</h2>
                <p>ONE MONTH TRIAL</p>
            </div>
            <h2>Cost-effective option for early-stage and small businesses that require a user-friendly merchant platform.</h2>
            <ul>
                <li>POS</li>
                <li>Inventory</li>
                <li>Dashbord:</li>
                <p>Daily Metrics <br> Monthly Metrics <br> Inventory</p>
                <li>Only admin account</li>
                <li>Only one store</li>
                <li>Limited products</li>
                <li>24/7 Tech Support</li>
            </ul>
            <button>Get Started</button>
        </div>
        <div class="standard">
            <div class="standard-head">
                <h2>STANDARD</h2>
                <p>KES 400 - Monthly</p>
            </div>
            <h2>Our robust option empowers established  businesses to take advantage of our comprehensive range of products and services.</h2>
            <ul>
                <li>POS</li>
                <li>Inventory</li>
                <li>Dashbord:</li>
                <p>Daily Metrics <br> Monthly Metrics <br> Inventory</p>
                <li>Only admin account</li>
                <li>Only one store</li>
                <li>Limited products</li>
                <li>24/7 Tech Support</li>
            </ul>
            <button>Get Started</button>
        </div>
        <div class="premium">
            <div class="premium-head">
                <h2>PREMIUM</h2>
                <p>KES 1,000 - Monthly</p>
            </div>
            <h2>we provide a complete suite of <br> services tailored for high-volume <br> businesses that seek to fully leverage <br> the benefits of our comprehensive <br> all-in-one platform.</h2>
            <ul>
                <li>POS</li>
                <li>Inventory</li>
                <li>Dashbord:</li>
                <p>Daily Metrics <br> Monthly Metrics <br> Inventory</p>
                <li>Manage Employees</li>
                <li>Data Analytics</li>
                <li>Manage Stores</li>
                <li>Reports</li>
                <li>Manage Employee Rights</li>
                <li>Get All Notification alerts</li>
                <li>Unlimited Produsts</li>
                <li>24/7 Tech Support</li>
                <li>Account Manager</li>
            </ul>
            <button>Get Started</button>
        </div>
        <div class="one-time">
            <div class="one-time-head">
                <h2>ONE TIME PURCHASE</h2>
                <p>KES 20,000</p>
            </div>
            <ul>
                <li>POS</li>
                <li>Inventory</li>
                <li>Dashbord:</li>
                <p>Daily Metrics <br> Monthly Metrics <br> Inventory</p>
                <li>Manage Employees</li>
                <li>Manage Stores</li>
                <li>Reports</li>
                <li>Manage Employees Rights</li>
                <li>Get All Notification alerts</li>
                <li>24/7 Tech Support</li>
                <li>Unlimited Products</li>
                <li>Works Offline</li>
            </ul>
            <button>Get Started</button>
        </div>
  </div>
</body>
<app-homefooter></app-homefooter>
</html>
 