<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="pricing.component.css">
  <title>Pricing</title>
</head>

<body>
  <div class="header">
        <div class="header-text">
            <h1>Plans & Pricing</h1>
            <p>Choose the perfect plan for your Pharmacy, the flexible plan to meet your needs.</p>
        </div>
  </div>
    
    <div class="pricing-container">
        <!-- STANDARD -->
        <div class="standard">
            <div class="standard-top">
                <div class="standard-head">
                    <h2>STANDARD</h2>
                    <p>KES 1500 - Monthly</p>
                </div>
                <h2>Our advanced package enables established businesses to fully leverage our extensive selection of products and services.</h2>
            </div>
            <ul>
                <li>✅POS</li>
                <li>✅Inventory</li>
                <li>✅Dashbord:</li>
                <p>Daily Metrics <br> Monthly Metrics <br> Inventory</p>
                <li>❌Manage Employees</li>
                <li>❌Manage Stores</li>
                <li>❌Reports</li>
                <li>❌Manage Employee Rights</li>
                <li>❌Get All Notification Alerts</li>
                <li>❌Unlimited Products (Limited products)</li>
                <li>❌Works Offline</li>
                <li>✅24/7 Tech Support</li>
                <li>❌Account Manager</li>
            </ul>
            <button>Get Started</button>
        </div>
    
        <!-- PREMIUM -->
        <div class="premium">
            <div class="premium-top">
                <div class="premium-head">
                    <h2>PREMIUM</h2>
                    <p>KES 3,500 - Monthly</p>
                </div>
                <h2>We offer a full suite of services designed for high-volume businesses looking to maximize the advantages of our all-in-one platform.</h2>
            </div>
            <ul>
                <li>✅POS</li>
                <li>✅Inventory</li>
                <li>✅Dashbord:</li>
                <p>Daily Metrics <br> Monthly Metrics <br> Inventory</p>
                <li>✅Manage Employees</li>
                <li>✅Manage Stores</li>
                <li>✅Reports</li>
                <li>✅Manage Employee Rights</li>
                <li>✅Get All Notification Alerts</li>
                <li>✅Unlimited Products</li>
                <li>✅Works Offline</li>
                <li>✅24/7 Tech Support</li>
                <li>✅Account Manager</li>
            </ul>
            <button>Get Started</button>
        </div>
    
        <!-- ONE TIME PURCHASE -->
        <div class="one-time">
            <div class="one-time-head">
                <h2>ONE TIME PURCHASE</h2>
                <p>KES 25,000</p>
            </div>
            <ul>
                <li>✅POS</li>
                <li>✅Inventory</li>
                <li>✅Dashbord:</li>
                <p>Daily Metrics <br> Monthly Metrics <br> Inventory</p>
                <li>✅Manage Employees</li>
                <li>✅Manage Stores</li>
                <li>✅Reports</li>
                <li>✅Manage Employee Rights</li>
                <li>✅Get All Notification Alerts</li>
                <li>✅Unlimited Products</li>
                <li>✅Works Offline</li>
                <li>✅24/7 Tech Support</li>
                <li>❌Account Manager</li>
            </ul>
            <button>Get Started</button>
        </div>
    </div>
    
</body>
<app-homefooter></app-homefooter>
</html>
 