<nav>
  <div class="Middle-section">
    <div class="Expertise">
      <div class="rectangle1"></div>
      <i class="fa-solid fa-bag-shopping"></i>
      <div class="professional-expertise">Professional Expertise</div>
    </div>

    <div class="services">
      <div class="rectangle2"></div>
      <i class="fa-solid fa-hand-holding-medical"></i>
      <div class="Reliable-services">Reliable Services</div>
    </div>

    <div class="efficiency">
      <div class="rectangle3"></div>
      <i class="fa-solid fa-ranking-star"></i>
      <div class="Opperational-efficiency">Opperational Efficiency</div>
    </div>
  </div>

  <div class="triangle1">
    <div class="five-sided-shape"></div>
  </div>

  <div class="triangle2">
    <div class="five-sided-shape"></div>
  </div>

  <div class="medfastgo">
    <div class="med">
      <div class="rectangle4"></div>
      <div class="medfast">THIS IS MEDFASTGO</div>
    </div>

    <div class="pharmacy-management">
      <h1>Pharmacy Management</h1>
      <h2>We are one-stop solution to track, optimize and manage your Pharmacy with an easy to use app available in all platforms.</h2>
    </div>

    <div class="fef">
      <div class="fast-to-manage">
        <div class="rectangle5"></div>
        <i class="fa-solid fa-truck-fast"></i>
        <div class="fast">Fast to manage</div>
      </div>

      <div class="easy-to-learn">
        <div class="rectangle6"></div>
        <i class="fa-solid fa-gear"></i>
        <div class="easy">Easy to learn</div>
      </div>

      <div class="future-rich">
        <div class="rectangle7"></div>
        <i class="fa-solid fa-circle-dollar-to-slot"></i>
        <div class="future">Future rich</div>
      </div>
    </div>
  </div>


</nav>
