<nav>
  <div class="Middle-section">
    <div class="Expertise">
      <div class="rectangle1"></div>
      <i class="fa-solid fa-bag-shopping"></i>
      <div class="professional-expertise">Professional Expertise</div>
    </div>

    <div class="services">
      <div class="rectangle2"></div>
      <i class="fa-solid fa-hand-holding-medical"></i>
      <div class="Reliable-services">Reliable Services</div>
    </div>

    <div class="efficiency">
      <div class="rectangle3"></div>
      <i class="fa-solid fa-ranking-star"></i>
      <div class="Opperational-efficiency">Opperational Efficiency</div>
    </div>
  </div>

  <div class="triangle1">
  <div class="five-sided-shape"></div>
  </div>

  <div class="triangle2">
  <div class="five-sided-shape"></div>
  </div>
</nav>
