/* middle section */
nav{
  display: flex;
  margin-top: 780px;
}

.Middle-section {
  margin-top: -1400px;
}

.Expertise {
  position: absolute;
  width: 310px;
  height: 134.83px;
  left: 39px;
  margin-top: -360px;
}

/* Rectangle 1 */
.rectangle1 {
  position: absolute;
  width: 220px;
  height: 90px;
  left: 89px;
  top: 905px;
  background: #1BC768;
  border-radius: 20px;
}

/* Professional Expertise */
.professional-expertise {
  position: absolute;
  width: 191px;
  height: 29px;
  left: 107px;
  margin-top: 950px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFE;
}

/* icon */
.Expertise i {
  position: absolute;
  left: 103px;
  top: 920px;
  border-radius: 30px;
}

.services {
  position: absolute;
  width: 310px;
  height: 134.83px;
  left: 270px;
  margin-top: -360px;
}

.rectangle2 {
  position: absolute;
  width: 220px;
  height: 90px;
  left: 310px;
  top: 905px;
  background: #1BC768;
  border-radius: 20px;
}

/* Reliable-services */
.Reliable-services {
  position: absolute;
  width: 191px;
  height: 29px;
  left: 330px;
  margin-top: 950px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFE;
}

/* icon */
.services i {
  position: absolute;
  left: 330px;
  top: 920px;
  border-radius: 30px;
}

.efficiency {
  position: absolute;
  width: 310px;
  height: 134.83px;
  right: 60px;
  margin-top: -360px;
  z-index: 2;
}

.rectangle3 {
  position: absolute;
  width: 220px;
  height: 90px;
  right: 60px;
  top: 905px;
  background: #1BC768;
  border-radius: 20px;
}

/* Opperational-efficiency */
.Opperational-efficiency {
  position: absolute;
  width: 200px;
  height: 29px;
  left: 40px;
  margin-top: 950px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 550;
  font-size: 19px;
  line-height: 29px;
  color: #FFFFFE;
}

/* icon */
.efficiency i {
  position: absolute;
  left: 40px;
  top: 920px;
  border-radius: 30px;
}

/* triangle section */
.triangle1 {
  position: absolute;
  top: 860px;
  left: 120px;

}

/* Five-Sided Shape */
.triangle1 .five-sided-shape {
  position: absolute;
  width: 250px;
  height: 250px;
  background: linear-gradient(560deg, rgba(27, 198, 104, 0.7) 0%, rgba(242, 247, 255, 0.7) 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 38%, 38% 100%, 0% 100%);
  border-radius: 40px;
  transform: rotate(135deg);
  top: 0;
  right: -30px;
}

/* triangle section */
.triangle2 {
  position: absolute;
  top: 600px;
  right: 0;
  width: 600px;
  height: 600px;
  overflow: hidden;
}

/* Five-Sided Shape */
.triangle2 .five-sided-shape {
  position: absolute;
  width: 300px;
  height: 300px;
  background: linear-gradient(380deg, rgba(27, 198, 104, 0.7) 0%, rgba(242, 247, 255, 0.7) 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 98%, 98% 100%, 0% 100%);
  border-radius: 40px 40px 0 40px;
  transform: rotate(-45deg);
  top: 60px;
  right: -110px;
}

.medfastgo{
  margin-top: -250px;
  margin-left: 155px;
}

.med {
  position: absolute;
  width: 210px;
  height: 100px;
  left: 350px;
  margin-top: -380px;
}

.rectangle4 {
  position: absolute;
  width: 180px;
  height: 40px;
  margin-left: 250px;
  margin-top: -80px;
  background: #F1F6FF;
  border-radius: 10px;
}

.medfast {
  position: absolute;
  width: 200px;
  height: 40px;
  margin-left: 265px;
  margin-top: -73px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 29px;
  color: green;
}

.pharmacy-management {
  position: absolute;
  width: 410px;
  height: 100px;
  left: 300px;
  margin-top: -280px;
}

.pharmacy-management h1 {
  position: absolute;
  width: 330px;
  height: 40px;
  margin-left: 235px;
  margin-top: -123px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 29px;
}

.pharmacy-management h2 {
  position: absolute;
  width: 530px;
  height: 40px;
  margin-left: 175px;
  margin-top: -73px;
  font-family: 'Inter';
  font-style: normal;
  font-size: 20px;
  line-height: 29px;
}

.fef {
  position: absolute;
  display: flex;
  width: 410px;
  height: 100px;
  left: 420px;
  margin-top: -250px;
}

.fast-to-manage {
  position: absolute;
  display: flex;
  width: 300px;
  height: 100px;
}

.rectangle5 {
  width: 45px;
  height: 45px;
  background: #F1F6FF;
  border-radius: 10px;
}

.fast-to-manage i {
  color: green;
  margin-top: 15px;
  margin-left: -33px;
}

.fast {
  margin-top: 10px;
  margin-left: 30px;
}

.easy-to-learn {
  position: absolute;
  display: flex;
  width: 300px;
  height: 100px;
  margin-left: 270px;
}

.rectangle6 {
  width: 45px;
  height: 45px;
  background: #F1F6FF;
  border-radius: 10px;
}

.easy-to-learn i {
  color: green;
  margin-top: 15px;
  margin-left: -32px;
}

.easy {
  margin-top: 10px;
  margin-left: 30px;
}

.future-rich {
  position: absolute;
  display: flex;
  width: 300px;
  height: 100px;
  margin-left: 510px;
}

.rectangle7 {
  width: 45px;
  height: 45px;
  background: #F1F6FF;
  border-radius: 10px;
}

.future-rich i {
  color: green;
  margin-top: 15px;
  margin-left: -32px;
}

.future {
  margin-top: 10px;
  margin-left: 30px;
}
