.wrapper {
    display: flex;
    overflow: hidden;
    align-self: center;
    height: auto;
    margin-left: 10%;
    
}
  .scrolling-wrapper {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap; /* Prevent items from wrapping to the next line */
  }
  #h4{
    align-items: center;
  }
  .header{margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 90px;
  }
  .scrolling-wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  
  .card {
    flex: 0 0 calc(100% / auto-fit); /* Set dynamic width based on available space */
    max-width: calc(100% / auto-fit); /* Set dynamic max-width based on available space */
    padding: 0 5px; /* Adjust the spacing between items */
    margin: 0 5px; /* Add space between the cards */
    min-width: 240px; /* Set a minimum width for items */
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
  }
  
  .card-img-container {
    width: 100%;
    height: 100px; /* Adjust the height as per your requirement */
    display: flex;
    justify-content: center;
    align-items:stretch;
    overflow: hidden;
  }
  
  .card-img-top {
    width: 100%;
    height: 100%;
    object-fit:scale-down;
  }
  .scroll-button {
  height: auto;
    background-color: rgb(110, 204, 110);
    margin-bottom: 30px;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    margin-top: 1px; /* Adjust the top margin as per your preference */
    margin-bottom: 5px; /* Adjust the bottom margin as per your preference */
  }
  
  .card-body > *:not(:last-child) {
    margin-bottom: 2px; /* Adjust the bottom margin between elements as per your preference */
  }
  
  @media (max-width: 767px) {
    .card {
      flex-basis: calc(100% / auto-fit); /* Adjust the flex basis based on available space on small screens */
    }
  }
  
  @media (max-width: 576px) {
    .card {
      flex-basis: 100%; /* Display one item per row on extra small screens */
    }
  }
  