
<div class="services-header">
     <h1>Our Services</h1>
</div>
<div class="services-container">
    <div class="service" *ngFor="let service of services">
      <h3>{{service.title}}</h3>
      <img [src]="service.image" alt="{{service.title}}">
      <p [class.collapsed]="service.collapsed">{{service.description}}</p>
      <button (click)="toggleViewMore(service)">{{service.collapsed ? 'View More' : 'View Less'}}</button>
    </div>
</div>
<!-- <app-features></app-features> -->
<app-homefooter></app-homefooter>
