<div class="how-it-works-header">
    <h3>How Medrx works</h3>
  </div>
  <div class="how-it-works-container">
    <div class="how-it-works-card">
      <div class="card">
        <img [src]="imagePath" alt="MedRx Discounts">
        <div class="card-body">
          <h3>compare Prices</h3>
          <p>Drug prices vary by pharmacy. Use MedRx to find current prices and discounts.</p>
        </div>
      </div>
    </div>
    <div class="how-it-works-card">
      <div class="card">
        <img [src]="couponsImagePath" alt="Coupons Discounts">
        <div class="card-body">
          <h3>Get free Discount</h3>
          <p>Medrx coupons code can help you pay less than the cash price for your prescription</p>
        </div>
      </div>
    </div>
    <div class="how-it-works-card">
      <div class="card">
  <img [src]="pharmacyready" alt="show discount">
        <div class="card-body">
          <h3>Show to your pharmacist</h3>
          <p>It's easy. Just bring your free coupon to the pharmacy when picking up your prescription.</p>
        </div>
      </div>
    </div>
  </div>