<nav>
  <div class="hero-section">
    <div class="tilted-rectangle1"></div>
    <div class="welcome">
      <h1>Welcome to MedFastGo</h1>
      <h2>
        Our open, positive and proactive approach helps us to find ways to align
        your pharmacy working environment with the growing and diverse
        technological approach.
      </h2>
    </div>
    <div class="tilted-rectangle"></div>
  </div>

  <div class="landingpage">
    <div class="shape">
      <div class="five-sided-shape"></div>
      <img src="assets\Images\landingimage.png" alt="Overlay Image" class="overlay-image" />
      <app-landingicons></app-landingicons>
    </div>
  </div>

  <div class="triangle">
    <div class="five-sided-shape"></div>
  </div>

</nav>
<app-lmiddle-section></app-lmiddle-section>
<app-lastlanding></app-lastlanding>
<app-homefooter></app-homefooter>
