.search-results {
    margin-top: 20px;
  }
  
  .search-results h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .search-results table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .search-results th,
  .search-results td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .search-results .medicine-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .search-results .medicine-info img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .search-results .pharmacy-list {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
    text-align: center; /* Center the pharmacy list */
  }
  
  .search-results .pharmacy-list .pharmacy-item:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .search-results .pharmacy-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .search-results .pharmacy-item div {
    margin-bottom: 5px;
  }
  
  .discount-button {
    width: 200px;
    background-color: green;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .discount-button:hover {
    background-color: #4ea63e;
  }
  .pharmacy-list {
    margin-top: 10px;
    

    list-style-type: none;
    padding: 0;
    text-align: center; /* Center the pharmacy list */
  }