<nav>
  <div class="nav-container">
    <div class="name">
      <img src="assets/Images/medfastlogowhite1 1.png" alt="Logo" class="overlay-image">
      <h1>MEDFASTGO</h1>
    </div>
    <div class="tilted-rectangle"></div>
  </div>

  <ul class="navigation">
    <li><a class="contact-box" routerLink="/features" routerLinkActive="active">Features</a></li>
    <li><a class="contact-box" routerLink="/why-us" routerLinkActive="active">Why Us</a></li>
    <li><a class="contact-box" routerLink="/who-we-are" routerLinkActive="active">Who we are</a></li>
    <li><a class="contact-box" routerLink="download-app" routerLinkActive="active">Download App</a></li>
    <li><a class="contact-box" routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
  </ul>
</nav>