nav {
  display: flex;
  margin-top: 25px;
  margin-left: 50px;
  position: relative;
}

.nav-container {
  position: relative;
}

.tilted-rectangle {
  width: 300px;
  height: 300px;
  background: linear-gradient(135deg, rgba(27, 198, 104, 0.5) 0%, rgba(242, 247, 255, 0.5) 100%);
  border-radius: 50px;
  transform: rotate( 15deg);
  position: absolute;
  top: -130px;
  left: -70px;
  z-index: 2;
}

.name {
  display: flex;
  gap: 10px;
  position: relative;
  z-index: 4;
}

.name img {
  margin-top: 6px;
  width: 30px;
  height: 30px;
}

.name h1 {
  margin-top: 10px;
  font-size: large;
}

.navigation {
  display: flex;
  gap: 5rem;
  margin-top: 8px;
  margin-left: 350px;
  list-style-type: none;
}

.navigation a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.navigation a.active {
  color: green;
  text-decoration: underline;
}
