<nav>
  <div class="nav-container">
    <div class="name">
      <img src="assets/Images/medfastlogowhite1 1.png" alt="Logo" class="overlay-image">
      <span><a class="contact-box" routerLink="/landing-page" routerLinkActive="active"(click)="closeMenu()">MEDFASTGO</a></span>
    </div>

    <!-- Burger menu for small screens -->
    <div class="burger-menu" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <ul class="navigation" [class.active]="menuOpen">
    <li><a class="contact-box" routerLink="/features" routerLinkActive="active" (click)="closeMenu()">Features</a></li>
    <li><a class="contact-box" routerLink="/pricing" routerLinkActive="active" (click)="closeMenu()">Pricing</a>
    </li>
    <li><a class="contact-box" routerLink="download" routerLinkActive="active" (click)="closeMenu()">Download
        App</a></li>
    <li><a class="contact-box" routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">Contact Us</a></li>
  </ul>
</nav>
