<!-- downloadapp.component.html -->
<div class="container">
  <div class="rectangle-tile">
    <div class="tile-content">
      <h2>Get MEDFASTGO App Now</h2>
      <p>Download the MedFastGo app to manage, track, and access your pharmacy anytime, anywhere.</p>
      <button class="download-button">Download Now</button>
      <div class="download-images">
        <img src="assets/Images/ios.png" alt="Android Download" class="download-image">
        <img src="assets/Images/android 1.png" alt="iPhone Download" class="download-image">
        <img src="assets/Images/windows.png" alt="Windows Phone Download" class="download-image">
      </div>
    </div>
    <div class="phone-image">
      <img src="assets/Images/Frame 1038.png" alt="Phone Image">
    </div>
  </div>
</div>
<app-homefooter></app-homefooter>