<div class="footer">
    <div class="info">
      <img src="assets/Images/medfastlogowhite1 1.png" alt="Logo" class="overlay-image">
      <h1>MEDFASTGO</h1>
    </div>

    <div class="feature">
        <h1><a class="contact-box" routerLink="/features" routerLinkActive="active">Features</a></h1>
        <ul class="our-features">
          <li><a class="contact-box" routerLink="/features" routerLinkActive="active">Inventory Management</a></li>
          <li><a class="contact-box" routerLink="/features" routerLinkActive="active">POS Management</a></li>
          <li><a class="contact-box" routerLink="/features" routerLinkActive="active">Financial Management</a></li>
          <li><a class="contact-box" routerLink="/features" routerLinkActive="active">Operational Management</a></li>
        </ul>
    </div>

    <div class="why-us">
        <h1><a class="contact-box" routerLink="/why-us" routerLinkActive="active">Why Us</a></h1>
        <ul class="our-links">
          <li><a class="contact-box" routerLink="/who-we-are" routerLinkActive="active">Who we are</a></li>
          <li><a class="contact-box" routerLink="/download-app" routerLinkActive="active">Download App</a></li>
        </ul>
    </div>

    <div class="social-media">
      <h1>Social Media</h1>
      <ul class="social-links">
          <li><a href="#" class="instagram-link">
              <img src="https://cdn2.iconfinder.com/data/icons/2018-social-media-app-logos/1000/2018_social_media_popular_app_logo_instagram-512.png"
                  alt="instagram" />  Instagram
          </a></li>
          <li><a href="#" class="facebook-link">
            <img src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/facebook-256.png" alt="facebook" />  Facebook
          </a></li>
          <li><a href="#" class="twitter-link">
            <img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Twitter3_colored_svg-512.png"
              alt="twitter" />  Twitter
          </a></li>
        </ul>
    </div>

    <div class="contact">
      <h1><a class="contact-box" routerLink="/contact" routerLinkActive="active">Contact</a></h1>
      <ul class="our-contacts">
        <li><a class="contact-box" routerLink="/contact" routerLinkActive="active">31515 Nairobi.</a></li>
        <li><a class="contact-box" routerLink="/contact" routerLinkActive="active">click HERE!</a></li>
      </ul>
    </div>
</div>
