body {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

.footer {
    display: flex;
    background-color: rgb(110, 204, 110);
    color: #111;
    border-radius: 10px;
    padding: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    padding: 5px;
    list-style: none;
}
a{
    text-decoration: none;
    color: #111;
}
h2{
    margin: 0;
    text-transform: uppercase;
    color: #111;
    margin-bottom: 3px;
}
h3{
    font-size: 1rem;
    font-weight: 500;
}
input{
    border: 1px solid #111;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(110, 204, 110);
    outline: none;
}
input::placeholder {
    color: #111;
}
.follow-us {
    margin-top: 40px;
}
img{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
.subscribe-btn{
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
@media (max-width: 500px){
    .subscribe-btn {
        margin-top: 10px;
    }
}