@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
    --background-color: rgb(110, 204, 110);
    --text-color: #F2F3FB;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
main {
    flex: 1 0 auto;
}
.footer{
    flex-shrink: 0;
    display: flex;
    background-color: rgb(110, 204, 110);
    color: var(--text-color);
    border-radius: 10px;
    padding: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    padding: 5px;
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
h2{
    margin: 0;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 3px;
}
h3{
    font-size: 1rem;
    font-weight: 500;
}
input{
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(110, 204, 110);
    outline: none;
}
input::placeholder{
    color: var(--text-color);
}
.follow-us {
    margin-top: 40px;
}
img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
.subscribe-btn{
    background-color: #177500;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
@media (max-width: 500px) {  
    .subsribe-btn {
      margin-top: 10px;
    }
  }