<div class="footer">
  <div class="info">
    <img src="assets/Images/medfastlogowhite1 1.png" alt="Logo" class="overlay-image">
    <h1>MEDFASTGO</h1>
  </div>

  <div class="feature">
      <h1><a class="contact-box" routerLink="/features" routerLinkActive="active">Features</a></h1>
      <ul class="our-features">
        <li><a class="contact-box" routerLink="/features" routerLinkActive="active">Inventory Management</a></li>
        <li><a class="contact-box" routerLink="/features" routerLinkActive="active">POS Management</a></li>
        <li><a class="contact-box" routerLink="/features" routerLinkActive="active">Financial Management</a></li>
        <li><a class="contact-box" routerLink="/features" routerLinkActive="active">Operational Management</a></li>
      </ul>
  </div>

  <div class="why-us">
      <h1><a class="contact-box" routerLink="/why-us" routerLinkActive="active">Why Us</a></h1>
      <ul class="our-links">
        <li><a class="contact-box" routerLink="/pricing" routerLinkActive="active">Pricing</a></li>
        <li><a class="contact-box" routerLink="/download" routerLinkActive="active">Download App</a></li>
      </ul>
  </div>

  <div class="social-media">
    <h1>Social Media</h1>
    <ul class="social-links">
        <li><a href="#" class="instagram-link">
            <i class="fa-brands fa-instagram"></i>  Instagram
        </a></li>
        <li><a href="#" class="facebook-link">
          <i class="fa-brands fa-square-facebook"></i>  Facebook
        </a></li>
        <li><a href="#" class="youtube-link">
          <i class="fa-brands fa-youtube"></i>  Youtube
        </a></li>
      </ul>
  </div>

  <div class="contact">
    <h1><a class="contact-box" routerLink="/contact" routerLinkActive="active">Contact</a></h1>
    <ul class="our-contacts">
      <li><a class="contact-box" routerLink="/contact" routerLinkActive="active">31515 Nairobi.</a></li>
      <li><a class="contact-box" routerLink="/contact" routerLinkActive="active">click HERE!</a></li>
    </ul>
  </div>
</div>
