<div class="footer">
    <div class="info">
        <h2>MedFastGo</h2>
        <ul class="info-links">
            <li><a  routerLink="/about" routerLinkActive="active" (click)="closeDropdownMenu()">About</a></li>
            <li><a href="">Terms & Conditions</a></li>
            <li><a href="">Investors</a></li>
            <li><a href="">Privacy Policy</a></li>
        </ul>
    </div>
    <div class="resources">
        <h2>Support</h2>
        <ul class="resource-links">
            <li><a  routerLink="/contact" routerLinkActive="active" (click)="closeDropdownMenu()">Contact</a></li>
            <li><a href="">FAQs</a></li>
        </ul>
    </div>
    <div class="info">
        <h2>Products</h2>
        <ul class="company-links">
            <li><a href="">Medical Conditions</a></li>
            <li><a href="">Beauty & Skin Care</a></li>
            <li><a href="">Medical Devices</a></li>
            <li><a href="">Vitamins & Supplements</a></li>
            <li><a href="">Offers</a></li>
        </ul>
    </div>
    <div class="subscribe">
        <h4>Subscribe to news letter</h4>
        <div>
            <input type="email" placeholder="Your email" />
            <button class="subscribe-btn">Subscribe</button>
        </div>
        <div class="follow-us">
            <h4>Follow Us</h4>
            <div class="social-links">
                <a href="#" class="instagram-link">
                    <img src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/facebook-256.png"
                        alt="facebook" />
                </a>
                <a href="#" class="twitter-link">
                    <img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Twitter3_colored_svg-512.png"
                        alt="twitter" />

                </a>
                <a href="#" class="instagram-link">
                    <img src="https://cdn2.iconfinder.com/data/icons/2018-social-media-app-logos/1000/2018_social_media_popular_app_logo_instagram-512.png"
                        alt="instagram" />
                </a>
            </div>
        </div>
    </div>
</div>
