<div>
    <title>About Us</title>
</div>

  
<div class="mission">
    <h1>Our Mission</h1>
    <p>Med Rx revolutionizes the prescription process, alleviating the burdens of doctors, insurance complexities, and high costs. Their intelligent system and strong pharmacy ties enable substantial savings on medications. Display your Med Rx card to local pharmacists for significant savings, regardless of insurance. Join the millions benefiting from the trusted Rx savings card for a better healthcare experience. </p>
  
  </div>

<div class="our team">
    <h1>Our Team</h1>
    <div class="team">
      <div class="team_member">
        <h3>John Michael</h3>
        <p class="role">UI developer</p>
        <p>Meet our visionary MedRx CEO, a dynamic leader with a passion for healthcare innovation. With a proven track record, they drive us toward affordable, accessible, and compassionate medical solutions.</p>
      </div>
      <div class="team_member">
        <h3>Brian Kawinzi</h3>
        <p class="role">Senior developer</p>
        <p>Our Senior Developer, crafts exceptional digital solutions with precision and expertise. His coding prowess fuels our technological advancements, ensuring seamless experiences for all users.</p>
      </div>
      <div class="team_member">
        <h3>Tabitha Michael</h3>
        <p class="role">Tester</p>
        <p>Our Tester, ensures seamless experiences. With her keen eye for detail, perfection is a guarantee. Partnering with her, she drives marketing strategies, expanding our reach effectively.</p>
      </div>
      <div class="team_member">
        <h3>Jacinta Charles</h3>
        <p class="role">Support Lead</p>
        <p>Our Lead Support, offers unwavering assistance. With her dedication, problems become solutions. Count on her guidance for a smooth and supported journey.</p>
      </div>
      <div class="team_member">
        <h3>Kibugu Ian</h3>
        <p class="role">Support Lead</p>
        <p>Our Lead Support, for steadfast assistance. With a passion for helping others, he ensures a reliable and supportive experience throughout your journey.</p>
      </div>
    </div>
  </div>

<div class="our_values">
    <h1>Our Values</h1>
    <div class="values_boxes">
        <div class="box">
            <i class="fas fa-cog"></i>
            <h2>Convenience</h2>
            <p>Bringing ease and simplicity to your medication needs.</p>
        </div>
        <div class="box">
            <i class="fas fa-handshake"></i>
            <h2>Trust</h2>
            <p>Building strong relationships based on reliability and integrity.</p>
        </div>
        <div class="box">
            <i class="fas fa-globe"></i>
            <h2>Access</h2>
            <p>Connecting you to pharmacies for a wider range of options.</p>
        </div>
        <div class="box">
            <i class="fas fa-money-bill"></i>
            <h2>Affordability</h2>
            <p>Ensuring fair pricing and cost savings for all medications.</p>
        </div>
        <div class="box">
            <i class="fas fa-lightbulb"></i>
            <h2>Expertise</h2>
            <p>Providing knowledgeable guidance for your medication needs.</p>
        </div>
        <div class="box">
            <i class="fas fa-users"></i>
            <h2>Community</h2>
            <p>Fostering a sense of togetherness and support for our users.</p>
        </div>
    </div>
</div>



   


    
